<!doctype html>
<html lang="en">
<head>
  <title>Number Analyzer</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Welcome to number analyzer!</h1>
  <ul>
    <li>Start analyzing: <a href="/weather">Complex Number Analysis</a></li>
  </ul>
  <hr>
</body>
</html>
