<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
    <title>Number Analysis</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Number Analysis</h1>
    <p><%= userData.message %></p>
    <br><br>
    <h3>Hello <%= userData.name %></h3>
    <p>You have received a number analysis <%= userData.count %> times</p>
</body>
</html>